<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A blog page for CS 312">
    <meta name="author" content="Aidan Trujillo">
    <meta name="keywords" content="Blog, CS312, CS, NAU, Aidan, Trujillo">

    <title><%= title %></title>

    <!-- Favicon placeholder -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Cascading Style Sheet -->
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
    <header>
        <h1><%= message %></h1>
    </header>

    <main>
        <p style="font-size: 20px;" align="center"><%= error %>Enter a Joke Below!</p>

        <!-- Blog Post Form Below -->
        <div id="form-div">
        <form action="/submit" method="post">
            
            <label for="contains">Joke Contains: </label>
            <input type="text" id="contains" name="contains" placeholder="(optional)" >
            <br><br>

            <label for="category">Category:</label>
            <select id="category" name="category" required>
                <option value="" disabled selected>Select your category</option>
                <option value="Any">Any</option>
                <option value="Programming">Programming</option>
                <option value="Misc">Misc</option>
                <option value="Dark">Dark</option>
                <option value="Pun">Pun</option>
                <option value="Spooky">Spooky</option>
                <option value="Christmas">Christmas</option>
            </select>
            <br><br>

            <label for="joketype">Joke Type: </label>
            <select id="joketype" name="joketype" required>
                <option value="" disabled selected>Select your category</option>
                <option value="single">Single</option>
                <option value="twopart">Two-part</option>
                <option value="both">Both</option>
            </select>
            <br><br>

            <button type="submit">Post</button>
            
        </form>
        </div>

        <div class="placeholder" ></div>        
        
    </main>

    <footer>
        <p>&copy; 2024 Aidan Trujillo. All rights reserved.</p>
    </footer>
</body>
</html>
